.container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.editIcon {
  color: grey;
}

.deleteIcon {
  color: tomato
}

.deleteIcon:hover,
.editIcon:hover {
  opacity: 0.7;
}